## Exercício Desafio

- Digamos que seu chefe pediu para você um relatório da análise dos salários da unidade de San Francisco da empresa. O objetivo dele é entender:

1. Qual foi a evolução do salário médio ao longo dos anos (TotalPay e TotalPayBenefits)
2. Quantos funcionários tivemos ao longo dos anos
3. Qual foi a evolução do total gasto com salário ao longo dos anos (TotalPayBenefits)

- Base de Dados a ser usada: salarios.sqlite

### Importação da Base de Dados

In [2]:
import pandas as pd
import sqlite3

conection = sqlite3.connect("salarios.sqlite")

table_salaries = pd.read_sql("SELECT * FROM Salaries", conection)
display(table_salaries)

conection.close()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,,San Francisco,PT

### Análise de Dados

In [14]:
# garantindo que estamos só com San Francisco
table_salaries.loc[table_salaries['Agency'] == 'San Francisco']
total_pay = table_salaries['TotalPay'].sum()
total_pay_benefits = table_salaries['TotalPayBenefits'].sum()
total_average = (total_pay + total_pay_benefits) / 2

print('TotalPay: ${:,.2f}'.format(total_pay))
print('TotalPayBenefits: ${:,.2f}'.format(total_pay_benefits))
print('Total Averag: ${:,.2f}'.format(total_average))

TotalPay: $11,114,610,134.38
TotalPayBenefits: $13,927,773,042.81
Total Averag: $12,521,191,588.60

##### 1. Qual foi a evolução do salário médio ao longo dos anos

In [37]:
# Agrupar os salários pelo ano correspondente e calcular a média
average_salary_total_pay = table_salaries.groupby('Year')['TotalPay'].mean()
average_salary_total_pay_benefits = table_salaries.groupby('Year')['TotalPayBenefits'].mean()

# Juntar as médias calculadas em um único DataFrame
average_salary_pay_year = pd.DataFrame({
    'Average Salary - TotalPay': average_salary_total_pay,
    'Average Salary - TotalPayBenefits': average_salary_total_pay_benefits
})

# Formatar as células para adicionar o símbolo de dólar na frente dos valores
average_salary_pay_year = average_salary_pay_year.applymap(lambda x: '${:,.2f}'.format(x))

# Exibir o DataFrame com a evolução do salário médio ao longo dos anos
display(average_salary_pay_year)

     Average Salary - TotalPay Average Salary - TotalPayBenefits
Year
2011                $71,744.10                        $71,744.10
2012                $74,113.26                       $100,553.23
2013                $77,611.44                       $101,440.52
2014                $75,471.84                       $100,261.44

##### 2. Quantos funcionários tivemos ao longo dos anos

In [28]:
for column in table_salaries:
    # Encontrar as linhas com a informação "Not provided"
    line_drop = table_salaries.loc[table_salaries['EmployeeName'] == 'Not provided'].index
    # Excluir as linhas encontradas
    table_salaries = table_salaries.drop(line_drop)

# Contar o número total de funcionários
num_employees = table_salaries['TotalPayBenefits'].count()
print(f'Total employees: {num_employees}')

# Agrupar os salários pelo ano correspondente e contar os funcionários por ano
employees_per_year = table_salaries.groupby('Year')['EmployeeName'].count()

# Exibir o número de funcionários por ano
print(employees_per_year)

Total de funcionários: 148650
Year
2011    36159
2012    36766
2013    37606
2014    38119
Name: EmployeeName, dtype: int64

##### 3. Qual foi a evolução do total gasto com salário ao longo dos anos

In [40]:
# Agrupar os salários pelo ano correspondente e calcular a média
salaries_total_pay_benefits = table_salaries.groupby('Year')['TotalPayBenefits'].sum()

# Juntar as médias calculadas em um único DataFrame
salaries_total_year = pd.DataFrame({
    'Average Salary TotalPayBenefits': salaries_total_pay_benefits
})
# Formatar as células para adicionar o símbolo de dólar na frente dos valores
salaries_total_year = salaries_total_year.applymap(lambda x: '${:,.2f}'.format(x))

# Exibir o DataFrame com a evolução do salário médio ao longo dos anos
display(salaries_total_year)

     Average Salary TotalPayBenefits
Year
2011               $2,594,195,051.88
2012               $3,696,940,025.96
2013               $3,814,772,184.37
2014               $3,821,865,780.60